<div class="row row-cols-1 row-cols-md-3 g-4 animated fadeIn">
    <div (click)="openArtist(item)" *ngFor="let item of items" class="col puntero">
      <div class="card h-100">
        <img [src]="item.images | noimage"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <div class="badge-container" *ngIf="item.artists">
            <span *ngFor="let artists of item.artists" class="badge rounded-pill text-bg-primary">{{artists.name}}</span>
          </div>
          <div class="badge-container" *ngIf="item.genres">
            <span *ngFor="let genres of item.genres" class="badge rounded-pill text-bg-primary">{{genres}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>